.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  border: white 3px solid;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul.Social-Icons {
  display: flex;
  width: 50VW;
  justify-content: center;
  list-style-type: none;
  padding: 16px;
  margin: 0;
}


.icon {
  border-radius: 50%;
  border: white 3px solid;
  padding: 8px;
  margin: 16px 8px;
  transition: all .2s ease-in-out;
  color: white
}

:hover.icon {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 14px;
}
